@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Supprimer les points */
li ul {
  text-decoration: none;
}

/* NavBar */

.header {
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 20px 100px;
  background-color: #75da7e;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-family: "Zilla Slab", serif;
  font-size: large;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  margin-left: -170px;
  margin-right: 200px;
}

/* Bannière avec un message de bienvenue */

.banner {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  position: relative;
  bottom: 25px;
  background-color: #000;
  margin-top: 6.5%;
  padding-bottom: 2%;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}

/* Modification d'écriture (h1) */

h1 {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
}

/* Styles des cartes (Pages "Accueil" et "Produits"*/

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.card {
  width: 325px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content h4 {
  color: #000;
  font-size: x-large;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

/* Style du bouton ""Ajouter au panier" et "Passer la commande"*/

.button {
  font-family: "Zilla Slab", serif;
  background-color: #000;
  color: #fff;
  width: 200px;
  height: 20px;
}

.button a {
  text-decoration: none;
  color: #fff;
}

/* Page Contact */

.button-contact {
  width: auto;
  color: #fff;
  background-color: #000;
  padding: 14px 40px;
  border-radius: 10px;
  border: none;
}

.contact {
  font-family: "Zilla Slab", serif;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  max-width: 440px;
  position: relative;
  right: 400px;
  top: 50px;
  margin: 0 auto;
}

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type="submit"] {
  display: flex;
  background-color: #75da7e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ad2f;
}

.info-contact {
  text-align: left;
  width: 100%;
  max-width: 440px;
  position: relative;
  left: 400px;
  bottom: 300px;
  margin: 0 auto;
}

.info contact h1 {
  font-family: "Zilla Slab", serif;
  font-size: large;
  margin-bottom: 20px;
}

.info-contact p {
  margin-bottom: 10px;
  text-align: center;
}

.info-contact i {
  color: #75da7e;
  margin-right: 10px;
  text-align: center;
}

/* Page À propos */

.propos img {
  display: flex;
  display: block;
  width: 30%;
  margin: auto;
}

.propos p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  font-size: large;
  font-weight: bold;
  margin: 50px;
}

/* Pour les cartes dans les pages "Accueil" et "Produits" */

main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 54px;
}

/* Footer */

footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #000;
  color: #fff;
  height: 200px;
  width: 100%;
  text-align: center;
}

footer a {
  position: relative;
  top: 50px;
  color: #fff;
  margin: 20px;
  font-size: large;
  text-decoration: none;
}

footer nav {
  position: relative;
  top: 50px;
}

/* Page "Panier" */

.panier-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}

table {
  width: 50%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #000;
  background: #75da7e;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #75da7e;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.prix-total {
  display: flex;
  justify-content: flex-end;
}

.prix-total table {
  border-top: 3px solid #75da7e;
  margin-left: 100px;
  width: 100%;
  max-width: 350px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.bouton-panier {
  display: flex;
  position: absolute;
  margin-top: 150px;
  margin-right: -30px;
}

a {
  text-decoration: none;
}
